---
const baseUrl = import.meta.env.BASE_URL.endsWith("/")
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;
const configUrl = `${baseUrl}admin/config.yml`;
const adminUrl = `${baseUrl}admin/`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href={configUrl} type="text/yaml" rel="cms-config-url" />
    <title>Content Manager</title>

    <link rel="icon" href={`${baseUrl}favicon.ico`} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${baseUrl}apple-touch-icon.png`}
    />
    <link rel="manifest" href={`${adminUrl}manifest.webmanifest`} />
    <meta name="theme-color" content="#0f2747" />
  </head>
  <body>
    <script>
      import CMS from "@sveltia/cms";

      const baseUrl = import.meta.env.BASE_URL.endsWith("/")
        ? import.meta.env.BASE_URL
        : `${import.meta.env.BASE_URL}/`;
      const adminUrl = `${baseUrl}admin/`;

      CMS.init();

      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register(`${adminUrl}sw.js`, {
          scope: adminUrl,
        });
      }
    </script>
  </body>
</html>
