---
import { CONTACT_EMAIL, LOCATION } from "../../consts";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { getCollection } from "astro:content";

import Section from "./_Section.astro";
import Hr from "./_Hr.astro";
import RequestAcessForm from "./_RequestAccessForm.astro";

const grupos = await getCollection("archive");

const dadosFixos = {
  horarios: "Segunda a Sexta, das 08h às 12h e das 14h às 18h",
};
---

<ContentLayout
  title="Acesso ao Acervo Físico"
  description="Instruções, horários de funcionamento e formulário de solicitação formal para acessar o acervo físico do Laboratório de História e Memória da Luta de Classes."
>
  <article class="flex flex-col gap-6">
    <Section id="instruções" title="Instruções para o Pedido Formal">
      <p>
        Para solicitar o acesso ao acervo físico do laboratório, preencha o
        formulário abaixo detalhando os objetivos da sua pesquisa e quais grupos
        de documentos você pretende consultar.
        <br />
        Nossa equipe analisará o pedido e responderá via e-mail.
      </p>
    </Section>

    <Section id="endereço" title="Contato e Funcionamento">
      <ul class="list-none p-0 m-0 flex flex-col gap-3">
        <li><strong>Localização:</strong> {LOCATION}</li>
        <li><strong>Horários:</strong> {dadosFixos.horarios}</li>
        <li><strong>E-mail:</strong> {CONTACT_EMAIL}</li>
      </ul>
    </Section>

    <Hr/>

    <Section id="acervos-disponiveis" title="Acervos disponíveis para consulta">
      <ul class="flex flex-col gap-2">
        {
          grupos.map((grupo) => (
            <li>
              <h3 class="text-xl font-bold text-accent-600 mb-2">
                {grupo.data.title}
              </h3>
              <p class="mb-4">{grupo.body}</p>
            </li>
          ))
        }
      </ul>
    </Section>

    <Hr/>

    <RequestAcessForm />
  </article>
</ContentLayout>

